---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Page";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quidem nostrum alias libero deleniti odio aut voluptas illo sed doloremque?</p>
</BaseLayout>