---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentBlock from "../components/ContentBlock.astro";

const metaTitle = "Home";
const pageTitle = "Dalton Figg";
---

<BaseLayout metaTitle={metaTitle} pageTitle={pageTitle}>
  <ContentBlock command="$ cat intro.txt">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
      aspernatur, consequatur nostrum quaerat commodi vitae similique deserunt
      repudiandae minima quia?
    </p>
  </ContentBlock>
</BaseLayout>
