---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const { metaTitle, metaDescription } = Astro.props;
---

<html
  lang="en"
  class="antialiased font-jetbrains bg-neutral-900 text-gray-300 scroll-smooth"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />

    <title>{metaTitle}</title>
  </head>
  <body class="flex flex-col min-h-dvh">
    <Navigation />

    <main class="container">
      <section class="space-y-10">
        <slot />
      </section>
    </main>

    <Footer />
  </body>
</html>
