---
import BaseLayout from "./BaseLayout.astro";
import ContentBlock from "../components/ContentBlock.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout metaTitle={frontmatter.title}>
  <ContentBlock command={`$ cat ..${frontmatter.url}/README.md`}>
    <article class="prose prose-lg prose-h1:m-0 prose-invert max-w-none">
      <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold">{frontmatter.title}</h1>

        <p class="text-gray-400">
          {frontmatter.publicationDate.toString().slice(0, 10)}
        </p>
      </div>

      <slot />
    </article>
  </ContentBlock>
</BaseLayout>
