---
import BaseLayout from "./BaseLayout.astro";
import ContentBlock from "../components/ContentBlock.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout metaTitle={frontmatter.title}>
  <ContentBlock command={`$ cat ..${frontmatter.url}/README.md`}>
    <article class="prose prose-invert max-w-none">
      <h1 class="text-3xl font-bold">{frontmatter.title}</h1>

      <p class="text-gray-400">
        {frontmatter.publicationDate.toString().slice(0, 10)}
      </p>

      <slot />
    </article>
  </ContentBlock>
</BaseLayout>
